html {
    scroll-behavior: smooth;
}

body {
    background-image: url(Background.webp);
    background-size: cover;
    background-attachment: fixed;
    
    text-align: center;
    color: white;
    font-family: Source Code Pro;
    letter-spacing: -0.15vw;
}

a {
    color: inherit;
    text-decoration: none;
}

.menu_bar {
    position: fixed;
    background-color: black;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
    top: 0px;
    right: 3.2%;
    left: 3.2%;
    height: 6vw;
    border-bottom-left-radius: 4vw;
    border-bottom-right-radius: 4vw;
    
    border-left: 4px solid #00940C;
    border-bottom: 4px solid #00940C;
    border-right: 4px solid #00940C;
}

.menu_text {
    font-size: 3.2vw;

    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.highlighter {
    border-radius: 1.8vw;
    outline: 3px solid #00940C;
}

/* För allt inehåll */
.content {
    display: inline-block;

    text-align: left;
    font-size: 1.8vw;

    margin-top: 15%;
    margin-bottom: 15%;
    width: 70%;
}

/* Tabell styling */
.content table {
    border: 3px solid #00FF15;
    border-collapse: collapse;
}

.content tr {
    border: 2px solid #00FF15;
}

.content th, td {
    display: inline-block;

    margin: 1vw;
}

/* Formulär */
.content input {
    box-sizing: border-box;
    width: 30vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding: 0.3vw;

    background-color: black;
    border: 2px solid #00FF15;
    
    color: white;
    font-family: Source Code Pro;
    letter-spacing: -0.15vw;
    font-size: 1.8vw;
}

.content input[type="submit"] {
    cursor: pointer;
}

/* Andra element */
.content ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.content h2 {
    margin: 1vw;
}

.content h3 {
    margin-top: 0;
    margin-bottom: 0.5vw;
}

/* Bilder */
.image_container img {
    width: 100%;
    height: 100%;
}

.small_image_container img {
    width: 50%;
    height: 50%;
}